* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Calibri,sans-serif;
}

/*	HEADER	*/
.wrapper {
	width: 1155px;
	margin: auto;
}

header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;	
}

/*Блок обучения*/
.bigTypeItem {
	height: 165px;
	width: 330px;
	background-color: #14cac2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.bigTypeItem h1 {
	font-size: 36pt;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	margin-left: 50px;
	-ms-flex-item-align: center;
	    align-self: center;
}

/*Цветные блоки*/
.typeItem {
	height: 165px;
	width: 165px;
	color: #fff;
	font-size: 11pt;
	font-weight: bold;
	text-transform: uppercase; 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
}

.typeItem span {
	margin: 30px 25px;
}

/*Светлые блоки*/
.typeItem:nth-child(even) {
	background-color: #0cb1aa;
}

/*Тёмные блоки*/
.typeItem:nth-child(odd) {
	background-color: #eefaf9;
}

/*	MAIN	*/
main {
	height: 150px;
	background-color: #04726d;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	color: #fff;
}

.percent {
	width: 150px;
	-ms-flex-item-align: center;
	    align-self: center;
	text-align: center;
	font-size: 62pt;
	font-weight: bold;
	margin-left: 50px; 
}

.mainText {
	-ms-flex-item-align: center;
	    align-self: center;
	max-width: 850px;
	margin-left: 25px;
	font-size: 11pt;
	text-transform: uppercase; 
}

/*	FOOTER	*/
footer {
	background-color: #eefaf9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

/*Footer text*/
.requestText {
	margin-left: 50px;
	width: 180px;
}


/*Form*/
footer {
	min-height: 312px;
}

.formSend {
	width: 640px;
	margin-right: 100px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.formSend label {

}

.formSend input, .formSend textarea {
	font-size: 12pt;
	margin-top: 8px;
	margin-bottom: 10px;
	border: 1px solid #0cb1aa;
	outline-color: #0cb1aa;
}

input, textarea {
	padding-left: 5px;
}

.formSend input, .formSend textarea

.formSend input {
	height: 35px;
}

.formSend .inputs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	float: left;
}

.formSend .inputs input, .formSend .textarea textarea {
	width: 305px;
}

.formSend .textarea {
	float: left;
	width: 310px;
	margin-left: 15px;
}

.formSend .textarea textarea {
	resize: none;
	height: 184px;
}

.requestText {
	margin-top: 40px;
}

.requestText h2 {
	font-size: 36pt;
	font-weight: bold;
	line-height: 1;
}

.requestText p {
	margin-top: 20px;
	font-size: 12pt;
}

/*Кнопка "Подать заявку"*/
.send {
	float: right;
	height: 35px;
	width: 160px;
	border: none;
	border-radius: 8px;
	background-color: #fff;
	background: #f59b9d;
	background: -webkit-linear-gradient(top, #f59b9d 0%,#f8b5b7 100%);
	background: linear-gradient(to bottom, #f59b9d 0%,#f8b5b7 100%);
	box-shadow: 0px 6px 0px #f59799;
	font-size: 9pt;
	text-transform: uppercase;
	font-weight: 900;
}

.send:hover {
	box-shadow: 0px 3px 0px #f59799;
	cursor: pointer;
}

.send:focus {
	outline: none;
}

.error {
	background-color: #ffcccc;
	border: 1px solid #ff4d4d;
	padding: 20px;
	display: none;
}

.success {
	background-color: #ccffcc;
	border: 1px solid #00e600;
	padding: 20px;
	display: none;
}

/*	MEDIA	*/
@media screen and (max-width: 1155px) {

	.wrapper {
		width: 495px;
	}

	main {
	    height: 220px;
	    background-color: #04726d;
	    display: block;
	    color: #fff;
	}

	.percent {
		width: auto;
	}

	.mainText {
		font-size: 12pt;
		margin-right: 15px;
	}

	.requestText {
	    width: auto;
	    margin-right: 45px;
	}

	.requestText h2 {
		text-align: center;
	}

	.requestText p {
		font-size: 13pt;
	}

	.formSend form {
		width: 310px;
		margin: auto;
	}

	.formSend .textarea {
		margin-left: 0;
	}

	.formSend {
		margin-right: auto;
	}

	.send {
		float: left;
	}

}